@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(vt323.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
.container {
  font-family: lato, sans-serif;
  font-size: 2rem;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-star {
  position: absolute;
}

.column h2 {
  font-family: "vt323", verdana, sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}
.column h2 img {
  margin-left: 10px;
  position: relative;
  bottom: -5px;
}
.column-img {
  margin-bottom: 1rem;
}
#yo {
  text-align: center;
  font-family: "vt323", verdana, sans-serif;
  font-size: 5rem;
  margin-top: 10vh;
  margin-bottom: 1.5em;
  animation: colorrotate 30s linear 0s infinite;
}
@keyframes colorrotate {
  from {
    color: #ff0000;
  }
  14% {
    color: #ffa500;
  }
  28% {
    color: #ffff00;
  }
  42% {
    color: #008000;
  }
  57% {
    color: #0000ff;
  }
  71% {
    color: #4b0082;
  }
  85% {
    color: #ee82ee;
  }
  100% {
    color: #ff0000;
  }
}
.vertical-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split-container {
  text-align: center;
}

.top-icons {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

#question {
  cursor: pointer;
}

#back-home img {
  width: 7rem;
  margin-left: 1rem;
  margin-top: 1rem;
  height: auto;
}
